:root{
    --back-color: black;
    --back-mcolor: rgb(20,20,20);
    --back-letter: rgb(120,120,120);
    --riddlers-green: rgb(5,186,18);
    --letter-color: white;
}
@font-face {
    font-family: riddlerf_by_TJbutLag;
    src: url(./Riddler\ Writing\ 2022.ttf);
}
html{
    background-color: var(--back-color);
    color: var(--letter-color);
    font-family: riddlerf_by_TJbutLag;
}
body{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr ;
}
.title h1{
    width: 100%;
    margin: 14vh 0 5vh 0;

    text-align: center;
    font-size: 90px;
}
.contact-container{
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.input_f{
    height: 50px;
    width: 260px;
    border-radius: 10px;
    border: 2px solid var(--riddlers-green);
    background-color: var(--back-mcolor);

    text-align: center;
    font-family: riddlerf_by_TJbutLag;
    font-size: 40px;
    color: var(--back-letter);
    outline: none;
}
input[type=text]:focus,
input[type=text]:hover{
    color: red;
    border: 2px solid red;
}



.messages-card ul{
    display: flex;
    justify-content: space-around;
}
.messages-card ul > .cards{
    height: 100px;
    width: 100px;

    background-color: red;
}
