:root{
    --back-color: black;
    --back-mcolor: rgb(20,20,20);
    --back-letter: rgb(120,120,120);
    --riddlers-green: rgb(5,186,18);
    --letter-color: white;
    --card-slice-height: 40px;
}
@font-face {
    font-family: riddlerf_by_TJbutLag;
    src: url(./Riddler\ Writing\ 2022.ttf);
}
html{
    background-color: var(--back-color);
    color: var(--letter-color);
    font-family: riddlerf_by_TJbutLag;
}
body{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr ;
}
.title h1{
    width: 100%;
    margin: 14vh 0 5vh 0;

    text-align: center;
    font-size: 90px;
}
.contact-container{
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.input_f{
    height: 50px;
    width: 260px;
    border-radius: 10px;
    border: 2px solid var(--riddlers-green);
    background-color: var(--back-mcolor);

    text-align: center;
    font-family: riddlerf_by_TJbutLag;
    font-size: 40px;
    color: var(--back-letter);
    outline: none;
}
input[type=text]:focus,
input[type=text]:hover{
    color: red;
    border: 2px solid red;
}



.messages-card{
    display: flex;
    justify-content: space-around;
}
.messages-card > .cards{
    height: 100px;
    width: 180px;

    /* background-color: red; */
    justify-content: center;
    align-items: center;
}





.my-btn-cont{
    width: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.my-btn-elem {
    background-color: green;
    text-align: center;
    border-radius: 5px 5px 0 0;
    z-index: 2;
}
.top-card-button{
    width: 50%;
}
.bottom-card-button{
    height: var(--card-slice-height);
    width: 100%;
    align-items: center;
}
.back-slices{
    position: relative;
    top: calc( var(--card-slice-height) * 7 * -1 );

    animation: my_animation;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    right: 40px;
}
@keyframes my_animation {
    0%{background-color: rgb(87, 0, 128);}
    100% {top: calc( var(--card-slice-height) * 6 * -1 )}
    
}

.f-test{
    height: var(--card-slice-height);
    width: 100%;
    background-color: blueviolet;
    
    position: relative;
    z-index: 2;
}
.b-test{
    height: var(--card-slice-height);
    width: 100%;
    background-color: rgb(87, 0, 128);
    
    position: relative;
    z-index: 1;
}



/* .r1f{
    top: calc( var(--card-slice-height) * -0);
}
.r2f{
    top: calc( var(--card-slice-height) * -1);
}
.r3f{
    top: calc( var(--card-slice-height) * -2);
}
.r4f{
    top: calc( var(--card-slice-height) * -3);
}
.r5f{
    top: calc( var(--card-slice-height) * -4);
}
.r6f{
    top: calc( var(--card-slice-height) * -5);
}

.r1b{
    top: calc( var(--card-slice-height) * -2);
}
.r2b{
    top: calc( var(--card-slice-height) * -3);
}
.r3b{
    top: calc( var(--card-slice-height) * -4);
}
.r4b{
    top: calc( var(--card-slice-height) * -5);
}
.r5b{
    top: calc( var(--card-slice-height) * -6);
}
.r6b{
    top: calc( var(--card-slice-height) * -7);
} */
